Repository krpc/krpc, pull requests merged in 2019-08, with the labels that each got.

#530 #528 null-check activevessel before using it in FlightGlobalsExtensions.Ge…
  service/SpaceCenter/src/ExtensionMethods/FlightGlobalsExtensions.cs
Labels: bug, service:space-center

#524 Added raycast to measure surface height more precisely
  service/SpaceCenter/src/Services/CelestialBody.cs
Labels: enhancement, service:space-center

#510 krpc python client requires protobuf>=3.6
  client/python/setup.py
Labels: bug, client:python
