Repository krpc/krpc, pull requests merged in 2023-03, with the labels that each got.

#597 API: available RCS force vector for RCS and vessel
  service/SpaceCenter/src/Services/Parts/RCS.cs
  service/SpaceCenter/src/Services/Vessel.cs
Labels: enhancement, service:space-center

#596 Add API to get thrust and SI at specified pressure
  service/SpaceCenter/src/Services/Parts/Engine.cs
  service/SpaceCenter/src/Services/Vessel.cs
Labels: enhancement, service:space-center

#665 Add sphinxcontrib-jquery to docs
  WORKSPACE
  doc/BUILD
  doc/conf.py.tmpl
  tools/serve-docs.sh
Labels: bug, docs

#669 Skip flaky java test for now
  client/java/test/krpc/client/EventTest.java
Labels: client:java

#675 Documentation fixes
  doc/api/docking-camera.tmpl
  doc/api/drawing.tmpl
  doc/api/infernal-robotics.tmpl
  doc/api/kerbal-alarm-clock.tmpl
  doc/api/krpc.tmpl
  doc/api/lidar.tmpl
  doc/api/lidar/laser.tmpl
  doc/api/remote-tech.tmpl
  doc/api/space-center.tmpl
  doc/api/ui.tmpl
  doc/conf.py.tmpl
  doc/src/cnano.rst
  doc/src/cnano/client.rst
  doc/src/compiling.rst
  doc/src/cpp.rst
  doc/src/cpp/client.rst
  doc/src/csharp.rst
  doc/src/csharp/client.rst
  doc/src/getting-started.rst
  doc/src/java.rst
  doc/src/java/client.rst
  doc/src/lua.rst
  doc/src/lua/client.rst
  doc/src/python.rst
  doc/src/python/client.rst
  tools/do-serve-docs.py
Labels: docs

#688 Change trigger for ci workflow to just pull_request
  .github/workflows/ci.yml
Labels: build-scripts

#687 Add workflow for deploying docs website
  .github/workflows/docs.yml
Labels: build-scripts

#693 Split release archive
  BUILD
  doc/BUILD
Labels: build-scripts

#689 Split ci workflow into multiple jobs
  .github/actions/bazel-fetch/action.yml
  .github/actions/build-setup/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/ci.yml
  tools/docker/CHANGES.txt
  tools/docker/Dockerfile
  tools/docker/Makefile
  tools/docker/VERSION.txt
  tools/docker/bazelrc
Labels: build-scripts

#696 Remove old Travis scripts
  .travis.yml
  README.md
  tools/travis-ci/before-deploy.sh
  tools/travis-ci/local.sh
  tools/travis-ci/script-docker.sh
  tools/travis-ci/script-windows.sh
  tools/travis-ci/script.sh
  tools/travis-ci/set-version.py
Labels: build-scripts

#697 Clean up comments for assembly scanning
  server/src/Utils/Reflection.cs
Labels: server:api

#698 C++ client fixes
  .github/workflows/ci.yml
  WORKSPACE
  client/cpp/BUILD
  client/cpp/CHANGES.txt
  client/cpp/CMakeLists.txt.tmpl
  client/cpp/configure.ac.tmpl
  client/cpp/test-build.sh
  tools/build/protobuf/BUILD
  tools/docker/CHANGES.txt
  tools/docker/Dockerfile
  tools/docker/VERSION.txt
Labels: client:cpp

#699 Add build test for Cnano client to CI workflow
  .github/workflows/ci.yml
Labels: client:cnano

#700 Remove workaround for protobuf 3.3 from Python client
  client/python/krpc/encoder.py
Labels: client:python

#701 Test static class properties
  client/cnano/test/test_client.cpp
  client/cpp/test/test_client.cpp
  client/csharp/test/ConnectionTest.cs
  client/java/test/krpc/client/ConnectionTest.java
  client/lua/krpc/test/test_client.lua
  client/python/krpc/test/test_client.py
  tools/TestServer/src/TestService.cs
  tools/krpctools/krpctools/test/clientgen-TestService-cnano.txt
  tools/krpctools/krpctools/test/clientgen-TestService-cpp.txt
  tools/krpctools/krpctools/test/clientgen-TestService-csharp.txt
  tools/krpctools/krpctools/test/clientgen-TestService-java.txt
  tools/krpctools/krpctools/test/clientgentest.py
  tools/krpctools/krpctools/test/docgen-TestService-cnano.rst
  tools/krpctools/krpctools/test/docgen-TestService-cpp.rst
  tools/krpctools/krpctools/test/docgen-TestService-csharp.rst
  tools/krpctools/krpctools/test/docgen-TestService-java.rst
  tools/krpctools/krpctools/test/docgen-TestService-lua.rst
  tools/krpctools/krpctools/test/docgen-TestService-python.rst
  tools/krpctools/krpctools/test/docgentest.py
Labels: client:python, client:cpp, client:lua, client:csharp, client:java, client:cnano

#702 Add KRPCNullableAttribute
  server/src/KRPC.csproj
  server/src/Service/Attributes/KRPCNullableAttribute.cs
  server/src/Service/ProcedureParameter.cs
  server/src/Service/Scanner/ParameterSignature.cs
  tools/TestServer/src/TestService.cs
  tools/krpctools/krpctools/docgen/nodes.py
Labels: server:api

#705 Fix flaky check for whether the test server has started in client tests
  tools/build/client_test.bzl
Labels: build-scripts

#709 Fix spelling test
  doc/src/dictionary.txt
  service/DockingCamera/src/DockingCamera.cs
  service/LiDAR/src/LiDAR.cs
  service/SpaceCenter/src/Services/Alarm.cs
  service/SpaceCenter/src/Services/SpaceCenter.cs
  tools/build/sphinx.bzl
Labels: docs

#713 Fix NRE in LaunchVesselFromVAB
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/SpaceCenter.cs
Labels: bug, service:space-center

#714 Add support for independent throttle on engines
  doc/order.txt
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/Parts/Engine.cs
Labels: enhancement, service:space-center

#717 Clarify docs regarding RemoteTech and antennas
  doc/api/space-center/parts.tmpl
  service/SpaceCenter/src/Services/Parts/Part.cs
  service/SpaceCenter/src/Services/Parts/Parts.cs
Labels: service:space-center, docs

#718 Adjust the threshold for determining if an engine is out of fuel
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/Parts/Engine.cs
Labels: bug, service:space-center

#719 Improve KRPCDefaultValue attribute
  doc/src/extending.rst
  server/CHANGES.txt
  server/src/Service/Attributes/KRPCDefaultValueAttribute.cs
  server/src/Service/ClassMethodHandler.cs
  server/src/Service/ClassStaticMethodHandler.cs
  server/src/Service/ProcedureHandler.cs
  server/src/Service/ProcedureParameter.cs
  server/src/Utils/Reflection.cs
  server/test/Service/ProcedureParameterTest.cs
  server/test/Service/TestService.cs
  service/SpaceCenter/src/Services/ReferenceFrame.cs
  service/UI/src/UI.cs
  tools/TestServer/src/TestService.cs
Labels: enhancement, server:api

#720 Finish KRPCNullable implementation
  doc/src/dictionary.txt
  doc/src/extending.rst
  service/SpaceCenter/src/Services/Node.cs
  service/SpaceCenter/src/Services/SpaceCenter.cs
  service/SpaceCenter/src/Services/Vessel.cs
Labels: enhancement, server:api

#721 Part module API improvements
  doc/order.txt
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/Parts/Module.cs
Labels: bug, enhancement, service:space-center

#722 Add links to more clients
  doc/src/third-party.rst
Labels: docs

#726 Replace continuation objects with delegates
  server/src/Continuations/Continuation.cs
  server/src/Continuations/IContinuation.cs
  server/src/Continuations/ParameterizedContinuation.cs
  server/src/Continuations/YieldException.cs
  server/src/Core.cs
  server/src/KRPC.csproj
  server/src/Service/Event.cs
  server/src/Service/EventStream.cs
  server/src/Service/KRPC/KRPC.cs
  server/src/Service/ProcedureCallContinuation.cs
  server/src/Service/ProcedureCallStream.cs
  server/src/Service/RequestContinuation.cs
  server/src/Service/Services.cs
  server/src/Service/StreamContinuation.cs
  server/src/Service/YieldException.cs
  server/src/ignores.txt
  server/test/Continuations/ParameterizedContinuationTest.cs
  server/test/KRPC.Test.csproj
  server/test/Service/ServicesTest.cs
  service/SpaceCenter/src/Services/AutoPilot.cs
  service/SpaceCenter/src/Services/Control.cs
  service/SpaceCenter/src/Services/Parts/Decoupler.cs
  service/SpaceCenter/src/Services/Parts/DockingPort.cs
  service/SpaceCenter/src/Services/Parts/ResourceDrain.cs
  service/SpaceCenter/src/Services/SpaceCenter.cs
  tools/TestServer/src/TestService.cs
  tools/TestingTools/src/TestingTools.cs
Labels: server:api

#729 Minor doc fixes
  doc/api/krpc/krpc.tmpl
  doc/conf.py.tmpl
  doc/src/_static/custom.css
  doc/src/communication-protocols.rst
  doc/src/communication-protocols/serialio.rst
  doc/src/cpp/client.rst
  doc/src/csharp/client.rst
  doc/src/dictionary.txt
  doc/src/getting-started.rst
  doc/src/index.rst
  doc/src/java/client.rst
  doc/src/python/client.rst
  doc/src/tutorials/autopilot.rst
  doc/src/tutorials/reference-frames.rst
  service/SpaceCenter/src/Services/SpaceCenter.cs
  tools/krpctools/krpctools/docgen/cnano.tmpl
  tools/krpctools/krpctools/docgen/cpp.tmpl
  tools/krpctools/krpctools/docgen/java.tmpl
  tools/krpctools/krpctools/docgen/python.tmpl
  tools/krpctools/krpctools/test/docgen-TestService-cnano.rst
  tools/krpctools/krpctools/test/docgen-TestService-cpp.rst
  tools/krpctools/krpctools/test/docgen-TestService-java.rst
  tools/krpctools/krpctools/test/docgen-TestService-python.rst
Labels: docs

#733 Add nullable property of fields to protobuf schema
  protobuf/krpc.proto
  server/src/Server/ProtocolBuffers/MessageExtensions.cs
  server/src/Service/KRPC/KRPC.cs
  server/src/Service/Messages/Parameter.cs
Labels: protocol

#734 Fix nuget warnings
  client/csharp/BUILD
  tools/build/csharp.bzl
Labels: bug, client:csharp

#724 Fix Arduino Cnano include directory name
  client/cnano/CHANGES.txt
  doc/src/cnano/client.rst
  doc/src/scripts/client/cnano/BasicArduino.ino
  tools/update-arduino-library.sh
Labels: bug, client:cnano

#737 Change default alarm names
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/AlarmManager.cs
Labels: service:space-center

#738 Put nupkg and zip in same build artifact for C# client
  .github/workflows/ci.yml
Labels: build-scripts

#739 Release updates
  Release-Guide.md
  tools/dist/changes.py
  tools/dist/github-changes.tmpl
Labels: build-scripts

#740 Update TestServer docker image to be hosted on ghcr
  tools/TestServer/BUILD
  tools/TestServer/README.md
  tools/TestServer/docker/Makefile
  tools/TestServer/docker/README.md
Labels: build-scripts

#741 Fix typo in docs
  doc/src/communication-protocols/websockets.rst
Labels: docs

#742 Add missing documentation for nullable and is_return_nullable
  doc/src/communication-protocols/messages.rst
Labels: docs

#746 Fix TestServer scanning for services twice
  tools/TestServer/src/Program.cs
Labels: bug, tools

#747 Repository cleanup
  .bazelversion
  .gitattributes
Labels: build-scripts

#748 Fix version reporting for -v flag in service defs tool
  tools/ServiceDefinitions/src/Program.cs
Labels: bug, tools

#749 Build scripts cleanup
  BUILD
  WORKSPACE
  client/cnano/BUILD
  client/cpp/BUILD
  client/csharp/BUILD
  client/java/BUILD
  client/lua/BUILD
  client/python/BUILD
  client/serialio/BUILD
  client/websockets/BUILD
  core/BUILD
  doc/BUILD
  server/BUILD
  tools/krpctest/BUILD
  tools/krpctools/BUILD
Labels: build-scripts

#750 Update workflow to use custom actions from krpc-core repository
  .github/actions/bazel-fetch/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/ci.yml
  WORKSPACE.bazel
Labels: build-scripts

#756 Fix types being registered twice
  client/python/CHANGES.txt
  client/python/krpc/types.py
Labels: bug, client:python

#759 Fix service defs tool
  tools/krpctools/BUILD.bazel
  tools/krpctools/CHANGES.txt
  tools/krpctools/krpctools/servicedefs/__init__.py
Labels: bug, tools

#760 Fix generated python code for undocumented enumeration values
  client/python/CHANGES.txt
  tools/krpctools/CHANGES.txt
  tools/krpctools/krpctools/clientgen/python.tmpl
Labels: bug, client:python, tools

#761 Remove tools/docker/...
  tools/docker/.gitignore
  tools/docker/CHANGES.txt
  tools/docker/Dockerfile
  tools/docker/Makefile
  tools/docker/VERSION.txt
  tools/docker/bazelrc
  tools/docker/ec2-script.sh
  tools/docker/entrypoint.sh
Labels: build-scripts
