Repository krpc/krpc, pull requests merged in 2024-03, with the labels that each got.

#770 Fix major memory leak after referencing crewmembers
  service/SpaceCenter/src/Services/CrewMember.cs
Labels: server

#773 Bazel 6.5.0
  .bazelversion
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  client/java/test/krpc/client/ConnectionTest.java
  client/java/test/krpc/client/EncoderDictionaryCollectionTest.java
Labels: build-scripts

#774 Fix streams for dynamic services
  client/python/BUILD.bazel
  client/python/krpc/client.py
  client/python/krpc/service.py
  client/python/krpc/types.py
Labels: bug, client:python

#775 update windows build docs
  WINDOWS_BUILDING.md
Labels: docs, build-scripts

#782 fix vessel recovery
  service/SpaceCenter/src/Services/Vessel.cs
Labels: bug, service:space-center

#785 Fix scaled camera distance clamp
  service/SpaceCenter/src/Services/Camera.cs
Labels: bug, service:space-center
