Repository krpc/krpc, pull requests merged in 2024-07, with the labels that each got.

#803 Fix waypoint mean altitude not including bedrock height
  service/SpaceCenter/CHANGES.txt
  service/SpaceCenter/src/Services/Waypoint.cs
Labels: bug, service:space-center

#804 Add Camera IVA controls
  doc/order.txt
  service/SpaceCenter/src/ExtensionMethods/InternalCameraExtensions.cs
  service/SpaceCenter/src/KRPC.SpaceCenter.csproj
  service/SpaceCenter/src/Services/Camera.cs
Labels: enhancement, service:space-center

#808 Add AltimeterMode property
  doc/api/space-center.tmpl
  doc/api/space-center/altimeter-mode.tmpl
  doc/order.txt
  service/SpaceCenter/src/KRPC.SpaceCenter.csproj
  service/SpaceCenter/src/Services/AltimeterMode.cs
  service/SpaceCenter/src/Services/SpaceCenter.cs
Labels: enhancement, service:space-center

#809 Fix incredibly minor spelling mistake
  doc/test.py
Labels: bug, build-scripts

#805 Fix check for whether reference frame rotates with vessel
  service/SpaceCenter/src/Services/AutoPilot.cs
Labels: bug, service:space-center

#810 Added PreviousCamera method
  doc/order.txt
  service/SpaceCenter/src/ExtensionMethods/InternalCameraExtensions.cs
  service/SpaceCenter/src/Services/Camera.cs
Labels: enhancement, service:space-center

#811 Fix build on NixOS
  tools/build/autotools.bzl
  tools/build/csharp.bzl
  tools/build/image.bzl
  tools/build/pkg.bzl
  tools/build/python.bzl
Labels: build-scripts

#778 add msbuild props and update csproj files so they work better with bazel outputs
  WINDOWS_BUILDING.md
  client/csharp/src/KRPC.Client.csproj
  client/csharp/test/KRPC.Client.Test.csproj
  core/src/KRPC.Core.csproj
  core/test/KRPC.Core.Test.csproj
  server/src/KRPC.csproj
  service/DockingCamera/src/KRPC.DockingCamera.csproj
  service/Drawing/src/KRPC.Drawing.csproj
  service/InfernalRobotics/src/KRPC.InfernalRobotics.csproj
  service/KerbalAlarmClock/src/KRPC.KerbalAlarmClock.csproj
  service/LiDAR/src/KRPC.LiDAR.csproj
  service/RemoteTech/src/KRPC.RemoteTech.csproj
  service/SpaceCenter/src/KRPC.SpaceCenter.csproj
  service/UI/src/KRPC.UI.csproj
  tools/ServiceDefinitions/src/ServiceDefinitions.csproj
  tools/TestServer/src/TestServer.csproj
  tools/TestingTools/src/TestingTools.csproj
  tools/msbuild/bazeldirs.props
  tools/msbuild/ksplibs.props
Labels: build-scripts

#813 Fix part decoupled at
  service/SpaceCenter/src/ExtensionMethods/PartExtensions.cs
  service/SpaceCenter/test/test_parts.py
  tools/krpctest/krpctest/__init__.py
Labels: bug, service:space-center

#815 Upgrade bazel to 7.2.1
  .bazelversion
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  BUILD.bazel
  MODULE.bazel
  client/cnano/BUILD.bazel
  client/cpp/BUILD.bazel
  client/cpp/test-build.sh
  client/csharp/BUILD.bazel
  client/csharp/test/KRPC.Client.Test.csproj
  client/java/BUILD.bazel
  client/java/src/krpc/client/RemoteObject.java
  client/lua/BUILD.bazel
  client/serialio/BUILD.bazel
  client/websockets/BUILD.bazel
  core/BUILD.bazel
  core/test/KRPC.Core.Test.csproj
  doc/BUILD.bazel
  doc/macros.bzl
  server/BUILD.bazel
  service/DockingCamera/BUILD.bazel
  service/Drawing/BUILD.bazel
  service/InfernalRobotics/BUILD.bazel
  service/KerbalAlarmClock/BUILD.bazel
  service/LiDAR/BUILD.bazel
  service/RemoteTech/BUILD.bazel
  service/SpaceCenter/BUILD.bazel
  service/UI/BUILD.bazel
  tools/ServiceDefinitions/BUILD.bazel
  tools/ServiceDefinitions/src/ServiceDefinitions.csproj
  tools/TestServer/BUILD.bazel
  tools/TestServer/src/TestServer.csproj
  tools/TestingTools/BUILD.bazel
  tools/build/client_test.bzl
  tools/build/cpp.bzl
  tools/build/csharp.bzl
  tools/build/java.bzl
  tools/build/python.bzl
  tools/build/sphinx.bzl
  tools/dist/genfiles.sh
  tools/krpctest/BUILD.bazel
  tools/krpctools/BUILD.bazel
  tools/msbuild/bazeldirs.props
  tools/msbuild/ksplibs.props
Labels: build-scripts
